.main {
    /* background-color: #212529; */
    background-color: white;
}

.sidebar {
    background-color: rgb(44, 29, 58);
    height: 100vh;
    line-height: 15px;
}

.test {
    color: white;
}

h1 {
    color: brown;
}

h2 {
    color: whitesmoke;
    padding: 5%
}